* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;

    width: 100%;
    max-width: 100%;

    padding: 30px 35px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
}

.drop-menu {
    position: relative;
    float: left;
}

.drop-menu:hover > .drop-block {
    display: initial;
}

.drop-block {
    position: absolute;
    left: 0;
    width: 360px;
    height: 510px;
    background: #fff;

    display: none;

    padding: 20px 10px;
}

.drop-block-item {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.drop-block-wrap {
    margin-top: 15px;
}

.drop-block-item-mod {
    font-weight: 700;
}

.drop-block-wrap-mod {
    margin-top: 40px;
}

.drop-block hr {
    margin-top: 40px;
}

.drop-block li:hover {
    transition: ease 0.3s;
    background-color: #bababa;
    border-radius: 10px;
}

.drop-menu-button {
    color: #eee;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;

    border-radius: 4px;
    padding: 10px 12px;
    margin: 0 45px;
    width: 98px;
    height: 39px;
    background-color: #0F8277;
    display: block;

    border: none;
}

.drop-menu-button::after {
    content: "";

    background-image: url("../images/header/v.svg");
    background-size: cover;
    background-repeat: no-repeat;

    display: inline-block;

    width: 10px;
    height: 14px;
    margin-left: 6px;
}

.drop-menu-button:hover {
    transition: ease 0.3s;
    background-color: #0a4943;
}

.main {
    margin-top: 98px;
}

.header-drop-and-form {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.header-logo:hover {
    transition: 0.5s;
    transform: scale(120%);
}



.header-form {
    display: inline-block;
}

.header-input {
    color: #5C5C5C;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    border: 1px solid #5C5C5C;
    border-radius: 3px;
    padding: 10px;

    width: 330px;
    height: 37px;
}

.header-form-container {
    position: relative;
}

.search-button {
    border: 1px solid #5C5C5C;
    background-color: #0F8277;
    padding: 8px;
    border-radius: 0 3px 3px 0;
    vertical-align: top;

    position: absolute;
    right: 0;
    top: 0;
}

.search-button:hover {
    transition: ease 0.3s;
    background-color: #0a4943;
}

.header-search-button {
    background-image: url("../images/header/search-button.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;

    width: 16px;
    height: 16px;
}

.navigation a {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 120%;
}

.navigation-label-1:hover,
.navigation-label-2:hover {
    transition: 0.2s;
    background-color: #bababa;
    border-radius: 3px;
}

.navigation-label-3:hover {
    color: white;
}

.navigation-label-3:hover,
.navigation-label-4:hover,
.first-section-btn-1:hover,
.first-section-btn-2:hover {
    transition: ease 0.3s;
    background-color: #0a4943;
}

.navigation-label-1,
.navigation-label-2 {
    color: #000;
    font-weight: 500;
    margin-right: 50px;
    padding: 10px;
}

.navigation-label-3 {
    color: #0F8277;
    font-weight: 700;

    padding: 10px 12px;
    margin-right: 15px;
    margin-left: 50px;
    border-radius: 4px;
}

.navigation-label-4 {
    color: #fff;
    font-weight: 700;

    background-color: #0F8277;
    padding: 10px 12px;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;


    width: 100%;
    max-width: 1300px;

    margin: 0 auto;
}

.first-section-container {
    display: flex;
    align-items: center;

    max-height: 100%;
    height: 600px;

    background-color: #DBF3ED;

    margin-bottom: 80px;
}

.first-section-first-item {
    width: 510px;
    margin-left: 110px;
    margin-right: 5px;
  }

.first-section-second-item {
    width: 535px;
    height: 541px;
    background-image: url("../images/main/first-section/man.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;

    margin-left: 100px;
}

.first-section-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    margin-bottom: 30px;
}

.first-section-subtitle {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

    margin-bottom: 30px;
}

.first-section-buttons {
    margin-top: 12px;
    display: inline-block;
}

.first-section-btn-1,
.first-section-btn-2 {
    padding: 10px 12px;

    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    border-radius: 4px;
    border: 2px solid #0F8277;
}

.first-section-btn-1 {
    color: #EEE;
    background-color: #0F8277;

    margin-right: 24px;
}

.first-section-btn-1:hover,
.first-section-btn-2:hover {
    border-color: #0a4943;
}

.first-section-btn-2:hover {
    color: #fff;
}

.first-section-btn-2 {
    color: #0F8277;
}

.second-section-header,
.third-section-header {
    width: 670px;
    height: 120px;
}

.second-section-top-title,
.third-section-top-title {
    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.second-section-title,
.third-section-title {
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    margin-top: 12px;
    margin-bottom: 12px;
}

.second-section-bot-title,
.third-section-bot-title {
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.second-section-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 420px);
    justify-content: center;
    justify-items: center;
    margin: 40px auto 80px;
    column-gap: 20px;
}

.third-section-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content: center;
    justify-items: center;
    margin: 40px auto;
    column-gap: 20px;
}

.second-section-card {
    width: 420px;
}

.third-section-card {
    width: 310px;
}

.card {
    height: 480px;
    border: 1px solid rgba(64, 64, 75, 0.2);
    border-radius: 4px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(105%);
}

.card-image {
    width: 100%;
    height: 270px;
}

.second-section-first-card-top-title-text,
.second-section-second-card-top-title-text,
.second-section-third-card-top-title-text,
.card-top-title-text {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.second-section-first-card-top-title-text::before,
.second-section-second-card-top-title-text::before,
.second-section-third-card-top-title-text::before,
.card-top-title-text::before {
    content: "";
    height: 20px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}

.second-section-first-card-top-title-text::before,
.card-top-title-text::before {
    background-image: url("../images/main/second-section/section-cards/dan-logo.png");
    width: 72px;
}

.second-section-second-card-top-title-text::before {
    background-image: url("../images/main/second-section/section-cards/europ-logo.png");
    width: 18px;
}

.second-section-third-card-top-title-text::before {
    background-image: url("../images/main/second-section/section-cards/projector-logo.png");
    width: 46px;
}

.first-card-bot-title-text {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    margin-top: 16px;
}

.first-card-title-container {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    height: 210px;
    position: relative;
}

.first-card-title-container:hover {
    cursor: initial;
}

.diploma,
.course {
    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    position: absolute;
    bottom: 24px;
    left: 16px;

    border-radius: 4px;
    padding: 3px;
}

.diploma::before {
    content: "";
    background-image: url("../images/main/second-section/svg-logo/card-diploma-logo/card-1-diploma-logo.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: bottom;
}

.diploma:hover,
.course:hover {
    transition: 0.3s ease;
    background-color: #bababa;
}

.third-section-link {
    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    margin: 0 auto 80px;
}

.third-section-link::after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    background-image: url("../images/main/third-section/svg/arrow.svg");

    margin-left: 16px;
}

.fourth-section-columns {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content: center;
    margin: 40px auto;
    column-gap: 20px;
    /*row-gap: 32px;*/
}

.fourth-section-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.column-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.column-link {
    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.column-links {
    margin-top: 30px;
}

.column-sub {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    margin-top: 10px;
}

.fifth-section {
    padding: 80px 15px;
    width: 100%;
    height: 380px;

    background-color: #dbf3ed;
}

.fifth-section-container {
    height: 225px;
}

.fifth-section-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;

    margin-bottom: 60px;
}

.fifth-section-images {
    display: flex;
    justify-content: space-between;
}

.fifth-section-images img {
    margin: auto 0;
}

.block-of-images-1 {
    width: 178px;
    height: 36px;
}

.block-of-images-2 {
    width: 122px;
    height: 42px;
}

.block-of-images-3 {
    width: 106px;
    height: 36px;
}

.block-of-images-4 {
    width: 63px;
    height: 66px;
}

.block-of-images-5 {
    width: 96px;
    height: 38px;
}

.block-of-images-6 {
    width: 135px;
    height: 44px;
}

.block-of-images-7 {
    width: 152px;
    height: 40px;
}

.block-of-images-8 {
    width: 151px;
    height: 32px;
}

.sixth-section-container {
    display: flex;
    flex-direction: row;
    margin: 80px auto;
}

.sixth-section-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

.sixth-section-subtitle {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;

    margin: 38px 0;
}

.sixth-section-left-side {
    width: 640px;
    height: 280px;

    margin: auto 70px auto 0;
}

.sixth-section-right-side {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(135px, 1fr));

    width: 590px;
    height: 412px;
    border: 1px solid transparent;

}

.left-side-button {
    color: #eee;
    background-color: #0f8277;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;

    border-radius: 4px;
    padding: 10px 12px;
    width: 130px;
    height: 40px;
}

.sixth-section-right-side-image {
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.sixth-section-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 137px;
}

.wrap-5 {
    border: 1px solid #BABABA;
}

.wrap-4,
.wrap-6 {
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.wrap-2,
.wrap-8 {
    border-right: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.side-image-1 {
    background-image: url("../images/main/sixth-section/image-test.svg");

    width: 150px;
    height: 27px;
}


.side-image-2 {
    background-image: url("../images/main/sixth-section/pg.svg");

    width: 60px;
    height: 62px;
}

.side-image-3 {
    background-image: url("../images/main/sixth-section/reliano.svg");

    width: 111px;
    height: 80px;
}

.side-image-4 {
    background-image: url("../images/main/sixth-section/danone.svg");

    width: 150px;
    height: 48px;
}

.side-image-5 {
    background-image: url("../images/main/sixth-section/tata.svg");

    width: 63px;
    height: 57px;
}

.side-image-6 {
    background-image: url("../images/main/sixth-section/emirates.svg");

    width: 151px;
    height: 42px;
}

.side-image-7 {
    background-image: url("../images/main/sixth-section/capgemini.svg");

    width: 150px;
    height: 34px;
}

.side-image-8 {
    background-image: url("../images/main/sixth-section/h.svg");

    width: 61px;
    height: 60px;
}

.side-image-9 {
    background-image: url("../images/main/sixth-section/petrobras.svg");

    width: 150px;
    height: 29px;
}


.seventh-section {
    width: 100%;
    height: 965px;
    padding: 80px 36px 100px;
    background-color: #DBF3ED;
}

.seventh-section-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;

    margin-bottom: 40px;
}

.seventh-section-container {
    width: 1300px;
    height: 100%;
}

.seventh-section-card {
    padding: 55px;
    width: 415px;
    height: 700px;

    position: relative;

    border: 1px solid #0f8277;
    border-radius: 24px;

    background-color: white;
}

.seventh-section-card:hover {
    transition: 0.2s ease;
    transform: scale(105%);
}

.seventh-section-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 415px);
    grid-column-gap: 25px;
}

.seventh-section-column-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.seventh-section-column-subtitle {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;

    margin-top: 35px;
}

.seventh-section-column-price {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;

    margin-top: 35px;
}

.seventh-section-column-mod-price {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}

.seventh-section-btn {
    color: #f6fdff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;

    border-radius: 4px;
    padding: 10px 12px;
    width: 120px;
    height: 42px;
    background-color: #0f8277;

    margin: 0 auto;
}

.seventh-section-btn:hover {
    transition: ease 0.3s;
    background-color: #fff;
    color: #0F8277;

    border: 1px solid #0F8277;
}

.seventh-section-button-mod:hover {
    border-color: #FFF;
}


.seventh-section-button {
    width: 132px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seventh-section-line {
    margin: 48px 0 35px;
    border: 1px solid #0f8277;

    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 305px;
}

.seventh-section-card-container {
    width: 305px;
    height: 475px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.seventh-section-card-footer-text {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    margin-top: 15px;
}

.seventh-section-card-footer-mark {
    display: flex;
    vertical-align: top;
}

.seventh-section-card-footer-mark img {
    margin-right: 15px;
    margin-top: 15px;
    width: 16px;
    height: 16px;
}

.seventh-section-card-header-mod p,
.seventh-section-card-header-mod span {
    color: white;
}

.seventh-section-card-mod {
    background-color: #0f8277;
}

.seventh-section-card-footer-mod p{
    color: white;
}

.seventh-section-card-footer-mod hr,
.seventh-section-button-mod {
    border: 1px solid white;
}

.seventh-section-card-container-2 {
    height: 590px;
}

.seventh-section-card-container-3 {
    height: 540px;
}

.eight-section {
    height: 925px;
    justify-content: center;
    align-items: center;

    padding: 80px 0;
}

.eight-section-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;

    margin-bottom: 40px;
}

.eight-section-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 22px;
}

.eight-section-image {
    width: 305px;
    height: 210px;
}

.eight-section-image-mod {
    width: 635px;
    height: 445px;

    grid-row: 1 / span 2;
    grid-column: 2 / 4;
}

.nine-section {
    width: 100%;
    height: 726px;

    background-image: url("../images/main/nine-section/background.png");
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.nine-section-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
}

.nine-section-subtitle {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
}

.nine-section-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 565px;
    height: 615px;

    padding: 30px;
    border-radius: 24px;

    background-color: #dbf3ed;
}

.nine-section-gap {
    margin-top: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;

    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 109%;
}

.input-item,
.input-item-2 {
    display: block;

    border: 1px solid #0F8277;
    border-radius: 4px;
}

.input-item,
.input-item-2 {
    width: 100%;
    padding: 10px;

    color: #8e8e8e;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.input-item {
    height: 45px;
}

.input-item-2 {
    height: 130px;
}

.form-btn {
    color: #f6fdff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-align: center;

    border-radius: 4px;
    padding: 10px 12px;
    width: 196px;
    height: 42px;
    background-color: #0f8277;
    border: 1px solid #0F8277;
}

.form-btn:hover {
    transition: 0.3s ease;
    background-color: #FFF;
    color: #0F8277;
}

.footer {
    padding: 65px 35px;
    width: 100%;
    height: 240px;

    background-color: #f1f1f1;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    width: 305px;
    height: 110px;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 305px;
    height: 110px;
}

.footer-images {
    width: 145px;
    height: 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-image-1,
.footer-image-2,
.footer-image-3 {
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;

    width: 32px;
    height: 32px;
}

.footer-image-1:hover,
.footer-image-2:hover,
.footer-image-3:hover {
    cursor: pointer;
}

.footer-image-1 {
    background-image: url("../images/footer/inst.svg");
}

.footer-image-2 {
    background-image: url("../images/footer/facebook.svg");
}

.footer-image-3 {
    background-image: url("../images/footer/linkedin.svg");
}

.footer-link-text {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.footer-link-text::before {
    content: "\00A9";
    margin-right: 4px;
}

.footer-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

.footer-subtitle {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}


